{% extends "layout.html" %}
<title>{% block title %}Add question{% endblock %}</title>
<main>{% block main %}

    <h2>Add a <qu></qu>estion</h2>
    <a href="/list">Go back</a><br><br>
    <form action="/add-question" method="POST" enctype="multipart/form-data">
        <textarea type="text" name="title" placeholder="Question title" required></textarea><br>
        <textarea name="question" cols="40" rows="5" placeholder="Type here" required></textarea><br>
        <input id='upload_button' lang='en' type="file" name="image" accept=".jpeg,.jpg,.png,.gif" id="image" value="upload an image"><br>
        <label for="image">↑ Upload an image ↑</label><br><br>
        <input type="submit" value="Submit" placeholder="send">
    </form>
    {% endblock %}
</main>