{% extends "layout.html" %}
<title>{% block title %}Display question{% endblock %}</title>
<main>{% block main %}
    <h2>Question: {{ question_title }}</h2>
    <br>
    <br>
    <h3>{{ question_message }}</h3>
    <br>
    <br>
    <a href="{{ url_for("edit_question", question_id=question_id) }}">EDIT question</a><br><br>
    <h2>Answers:</h2>
    <br> {% for line in answers %} {{ line }}<br><br><br> {% endfor %}
   <form action="{{ url_for("new_answer", question_id=question_id) }}" method="post">
    <button type="submit">Submit answer</button>
    </form>
    {% endblock %}