<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %}Layout{% endblock %}</title>
</head>

<body>
    <nav class="navbar">
        <ul>
            <li>
                <a href="http://127.0.0.1:5000/"><img src="{{ url_for('static', filename='logo.png') }}" width="100px"></a>
                </a>
            </li>
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#products">Products</a>
            </li>
            <li>
                <a href="contact">Contact</a>
            </li>
            <li>
                <div class="search">
                    <span class="fa fa-search"></span>
                    <input type="text" placeholder="Search...">
                </div>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="sidebar item">
            <ul>
                <li><a href="#" class="active">Questions</a></li>
                <li>
                    <a href="#">Tags</a>
                </li>
                <li>
                    <a href="#">Users</a>
                </li>
                <li>
                    <a href="#">Courses</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">Teams</a>
                </li>

            </ul>
        </div>
        <main class="all-questions item">{% block main %}{% endblock %}</main>
    </div>
    <footer>
        <p>&copy; Copyright 2022 by Piotr, Mateusz, Mat &amp; Rita</p>
    </footer>
</body>

</html>