{% extends "layout.html" %}
<title>{% block title %}Add answer{% endblock %}</title>
<main>{% block main %}
    <h2>Question: {{ question_title }}</h2>
    <br>
    <h1> {{ question_message }}</h1>
    <br>

    <form action="/question/{{question_id}}/new_answer" method="post">
        <textarea name="message" cols="40" rows="5" placeholder="Type here" required></textarea><br>
        <button type="submit" method="post">Submit</button>

    </form>
    <br>
{#    <h2>{% if title_message is not none %} {{ title_message }} {% else %} There is no answer. {% endif %}</h2>#}
    {% endblock %}
</main>